# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# PyCharm
.idea/

# Temporary Word files
~$*.docx

# OS files
.DS_Store

#sqlite databases
*.db

# Logs
*.log

.idea/workspace.xml

/InvestigationDatabase.json
/PatientDashBoard_settings.json
